.btnSubmit{
  border: 2px solid #667eea;
  background:radial-gradient(circle at 50% 50%,transparent,  #667eea)!important;
  background-size: 1000%!important;
  background-position: center!important;
  transition: background-position .3s;
  transition: background-size .2s;
}

.btnSubmit:hover {
  background-size: 100%!important;
  background-position: center!important;
}

